#!/usr/bin/make -f

export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@

%.1: %.1.adoc
	a2x --doctype manpage --format manpage $<

override_dh_installman: debian/zero_elabviewer.1
	dh_installman

override_dh_auto_clean:
	dh_auto_clean
	rm -f debian/zero_elabviewer.1
